<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<!--<connectionStrings>
		<add name="connstr" 
			 connectionString="data_source=7231AMRIND4168L;initial_catalog=demo;trusted_connection=true;TrustServerCertificate=True;"/>
	</connectionStrings>-->
</configuration>